<!DOCTYPE html>
<html>
<head>
    <title>Multilingual AI Language Learning Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Multilingual AI Language Learning Platform</h1>

    <h2>Translate Languages with AI</h2>

    <label>Enter Text:</label><br>
    <textarea rows="5" cols="50"></textarea>

    <br><br>
    
    <label>Source Language:</label>
    <select>
        <option>English</option>
        <option>Kannada</option>
        <option>Marathi</option>
        <option>Telugu</option>
        <option>Bengali</option>
        <option>Punjabi</option>
    </select>

    <br><br>

    <label>Target Language:</label>
    <select>
        <option>English</option>
        <option>Kannada</option>
        <option>Marathi</option>
        <option>Telugu</option>
        <option>Bengali</option>
        <option>Punjabi</option>
    </select>

    <br><br>

    <button>Translate</button>

</body>
</html>