<!doctype html>
<html>
  <head>
    <title>Multilingual AI Language Learning Platform</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Multilingual AI Language Learning Platform</h1>

    <h2>Translate Languages with AI</h2>

    <form method="POST">
      <label>Enter Text:</label><br />

      <textarea name="text" rows="5" cols="50"></textarea>

      <br /><br />

      <label>Source Language:</label>

      <select name="source_language">
        <option>English</option>
        <option>Kannada</option>
        <option>Marathi</option>
        <option>Telugu</option>
        <option>Bengali</option>
        <option>Punjabi</option>
      </select>

      <br /><br />

      <label>Target Language:</label>

      <select name="target_language">
        <option>English</option>
        <option>Kannada</option>
        <option>Marathi</option>
        <option>Telugu</option>
        <option>Bengali</option>
        <option>Punjabi</option>
      </select>

      <br /><br />

      <button type="submit">Translate</button>
    </form>
    <hr />

    <h3>You Entered</h3>

    <p><strong>Text:</strong> {{ text }}</p>

    <p><strong>Source Language:</strong> {{ source_language }}</p>

    <p><strong>Target Language:</strong> {{ target_language }}</p>
  </body>
</html>
